:root {
  --primary-color: #212b36;
  --secondary-color: #ff6b26;
  --tertiary-color: #fff;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

figure {
  position: relative;
  transform: translate(-50%, -50%);
  width: clamp(300px, 80%, 1500px);
  height: fit-content;
  display: flex;
  margin: 0;
  left: 50%;
  top: 50%;
}

.strokeSvg {
  width: 100%;
  z-index: 2;
  order: 1;
  filter: drop-shadow(0 0 10px #ffffff);
}

.logo-mask{
  position: absolute;
  width: 100%;

  mask-image: url("./assets/objects/phypoSolid.svg");
  -webkit-mask-image: url("./assets/objects/phypoSolid.svg");

  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
    
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
